.game-over {
    font-family: 'blocus';
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    align-items: center;
    background-image: url(../../../public/assets/bg/background_gameover.jpg);
    background-size: cover;
    background-position: center;
}

h1 {
    margin: 0;
    font-size: 12em;
    font-weight: 100;
    color: #072A44;
    line-height: .6em;
}

a {
    margin-top: 2em;
    text-decoration: none;
    font-size: 4em;
    color: #072A44;
    transition: all .2s ease;
    border-bottom: solid 2px transparent;
    margin-bottom: 0em;
}

a:hover {
    color: #FFBB7B;
    border-bottom: solid 2px #FFBB7B;
}

.platform {
    width: 20%;
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}