.time {
    font-family: 'blocus';
    position: absolute;
    top: 80px;
    left: 80px;
    background-color: transparent;
    font-size: 48px;
    color: #ffffff;
    font-weight: 700;
    /* font-stretch: extra-expanded; */
}

.time__add {
    color: #941212;
    transform: translateY(-50px);
    transition: 0.3s all ease-out;
    opacity: 0;
}

.time__add--show {
    opacity: 1;
    transform: translateY(0);
}