.notice {
    font-family: 'blocus';
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6em;
    align-items: center;
    background-image: url(../../../public/assets/bg/background_noticedujeu.jpg);
    background-size: cover;
    background-position: center;
}

h1 {
    margin: 0;
    font-size: 12em;
    font-weight: 100;
    color: #072A44;
    line-height: .6em;
}

.content-notice {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.content-notice div img {
    width: 75%;
}

p {
    width: 80%;
    margin: 0 auto;
    font-size: 2.5em;
}