:root {
  --blue: "#0000ff"
}

body {
  margin: 0;
  /* background-image: url("bg/montagne.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute; */
}

.App {
  width: 100vw;
  height: 100vh;
  position: absolute;
}